*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--gap: 10px;
}

.photo{
	display: flex;
	align-self: auto;
	grid-column: 1/-1;
}

.homepage-content {
	display: flex;
	grid-column: 1/-1;
	margin: 30px 80px 0 80px;
}

.container{
	display: grid;
	grid-template-rows: repeat(2, auto) 150px;
	grid-gap: var(--gap);
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
}

.header{
	display: flex;
	justify-content: center;
	align-self: center;
	grid-column: 1/-1;
	width: 90%;
}

.footer {
  	display: flex;
	justify-content: center;
	align-self: center;
	grid-column: 1/-1;
    width:68%;
    position: absolute;
    bottom: 0;
}

 .body {
 	grid-column-gap: 1px;
 	display: grid;
 	display: flex;
 	flex-direction: row-reverse;
 	grid-template-rows: repeat(2,1fr);
	margin: 30px 80px 0 80px;
 }

#categories-content {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	margin-top: 30px;
}

#categories-list {
	display: flex;
	justify-content: center;
}

#content{
	display:grid;
	grid-template-columns: 2, 1fr;
}

#reviews-list {
	display: flex;
	justify-content: center;
}

.review{
	display: grid;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.reviewed-show-list{
	display: grid;
	grid-column: 2/3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}