body{
	background: radial-gradient(white, lightgray, gray);
}

.categories{
	border: 5px solid black;
	list-style-type: none;
	font-size: 80px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.reviewed-shows-list{
	font-size 40px;
}

header{
	background-color: black;
	color: white;
}

footer {
  background-color: black;
  color: white;
  font-size: 15px;
}